<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'GRUPOSDECLIENTES' | translate}}</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-button (click)="viewSearch()">
        <span class="notify-active" *ngIf="search!=''"></span>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="editCustomerGroup()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="isSearch">
    <ion-searchbar animated #searchbar [(ngModel)]="search" autocomplete="on" autocorrect="on" spellcheck="true"
      (ionInput)="getSearch($event)" placeholder="{{'BUSCAR' | translate}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner name="dots" *ngIf="!load && !doLoad"></ion-spinner>
  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="customerGroups.length==0 && load" class="not-results">
      <ion-col col-12 class="ion-text-center">
        <ion-icon name="search"></ion-icon>
        <p>{{'NOSEHANENCONTRADORESULTADOS' | translate}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="load">
    <ion-item-sliding *ngFor="let customerGroup of customerGroups">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>{{ customerGroup.name }}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="editCustomerGroup(customerGroup)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteCustomerGroup(customerGroup)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>