<ion-header>
  <ion-toolbar>
    <ion-title>{{'CLIENTE' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        {{ 'CERRAR' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list>

      <ion-item>
        <ion-label position="floating">{{'NOMBRE' | translate}}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">{{'GRUPODECLIENTES' | translate}}</ion-label>
          <ion-select formControlName="id_customer_group"  okText="{{'ACEPTAR' | translate}}" cancelText="{{'CANCELAR' | translate}}">
            <ion-select-option [value]="0">{{'SINGRUPOASIGNADO' | translate}}</ion-select-option>
            <ion-select-option *ngFor="let customerGroup of customerGroups" [value]="customerGroup.id">{{customerGroup.name}}</ion-select-option>
          </ion-select>
        </ion-item>

      <ion-item>
        <ion-textarea placeholder="{{'DESCRIPCION' | translate}}" formControlName="description"></ion-textarea>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button color="primary" expand="block" type="submit" [disabled]="!form.valid">
        <span *ngIf="!exists">{{'ANADIRCLIENTE' | translate}}</span>
        <span *ngIf="exists">{{'EDITARCLIENTE' | translate}}</span>
      </ion-button>
    </div>
  </form>
</ion-content>