<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="customers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>{{'CLIENTES' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customer-groups">
      <ion-icon name="albums"></ion-icon>
      <ion-label>{{'GRUPOS' | translate}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
