<ion-toolbar color="primary">
  <ion-title>
    {{'ACTUALIZANDOAPP' | translate}}...
    <ion-progress-bar color="secondary" type="indeterminate" reversed="true"></ion-progress-bar>
  </ion-title>

</ion-toolbar>