<ion-header>
  <ion-toolbar>
    <ion-title>{{'GRUPODECLIENTES' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        {{ 'CERRAR' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list>

      <ion-item>
        <ion-label position="floating">{{'NOMBRE' | translate}}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button color="primary" expand="block" type="submit" [disabled]="!form.valid">
        <span *ngIf="!exists">{{'ANADIRGRUPO' | translate}}</span>
        <span *ngIf="exists">{{'EDITARGRUPO' | translate}}</span>
      </ion-button>
    </div>
  </form>
</ion-content>