<ion-app>
  <app-not-connection *ngIf="!isConnection"></app-not-connection>
  <ion-split-pane contentId="mainRouterOutlet" when="lg">
    <ion-menu side="start" menuId="mainMenu" contentId="mainRouterOutlet">
      <ion-header translucent="true">
        <ion-toolbar mode="md">
          <ion-item lines="none">
            <ion-label>
              {{'MENU' | translate}}
            </ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list mode="md">
          <ion-menu-toggle autoHide="false">
            <ion-item mode="md" routerDirection='root' routerLink="/app/customers" routerLinkActive="active-item-menu">
              <ion-icon slot="start" name="contacts"></ion-icon>
              <ion-label>{{'CLIENTES' | translate}}</ion-label>
            </ion-item>
            <ion-item mode="md" routerDirection='root' routerLink="/app/customer-groups"
              routerLinkActive="active-item-menu">
              <ion-icon slot="start" name="albums"></ion-icon>
              <ion-label>{{'GRUPOSDECLIENTES' | translate}}</ion-label>
            </ion-item>
            <ion-item mode="md" routerDirection='root' routerLink="/settings" routerLinkActive="active-item-menu">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>{{'AJUSTES' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="mainRouterOutlet"></ion-router-outlet>
  </ion-split-pane>
  <app-updating-app *ngIf="updating"></app-updating-app>
</ion-app>