/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.active-item-menu {
    ion-icon{
        color: var(--ion-color-primary);
    }
}
ion-spinner {
    position: relative;
    width: 100px;
    height: 55px;
    margin: 0 auto;
    display: block;
}

.not-results{
    margin-top:30vh;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
    ion-icon{
        font-size: 60px;
    }
}

.notify-active{
    width: 6px;
    height: 6px;
    background: #f04141;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 0px solid #000000;
    position: absolute;
    top: 6px;
    right: 6px;
}
