.not-connection{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 5px;
    font-size: 13px;
    width: 100%;
    background: var(--ion-color-warning);
    color:#fff;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}