<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CLIENTE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner name="dots" *ngIf="!load"></ion-spinner>
  <div *ngIf="load" class="container-avatar">
    <ion-avatar>
      <ngx-avatar size="100" [name]="customer.name" bgColor="#CCC" fgColor="#FFF"></ngx-avatar>
    </ion-avatar>
  </div>
  <ion-grid *ngIf="load">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h3>{{customer.name}}</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h2>{{'DESCRIPCION' | translate}}</h2>
              <p>{{customer.description}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>{{'GRUPODECLIENTES' | translate}}</h2>
                <p *ngIf="customer.id_customer_group==0">{{'SINGRUPOASIGNADO' | translate}}</p>
                <p *ngIf="customer.id_customer_group!=0">{{customer.customer_group.name}}</p>
              </ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>