.container-avatar{
    width: 100;
    margin-top: 15px;
    ion-avatar{
        width: 100px;
        height: 100px;
        position: relative;
        margin: 0 auto;
        img{
            width: 100px;
            height: 100px;
        }
    }
}