<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'AJUSTES' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'IDIOMA' | translate }}</ion-label>
      <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()" okText="{{'ACEPTAR' | translate}}"
        cancelText="{{'CANCELAR' | translate}}">
        <ion-select-option [value]="'es'">Español</ion-select-option>
        <ion-select-option [value]="'en'">English</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>